.logo {

  font-family: 'Orbitron', sans-serif;
}

.espacio{
  max-width:500px;
  width:100%;
  letter-spacing: 2px;
  text-align: center;
}

.login-content {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
